#game {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  margin-top: 50px;
}

.rod {
  width: 120px;
  height: 250px;
  border: 2px solid black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.disk {
  height: 20px;
  margin: 3px 0;
  background: steelblue;
  border-radius: 4px;
}

.active {
  outline: 3px solid orange;
}
